{% extends 'base.html' %}
{% block title %}
    home.html
{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static 'css/home.css' %}{% endblock extrastyle %}
{% block content %}
    <div id="content_home">
        <div id="img_slide">
            <a href="/">
                <img src="{% static 'img/jus1.jpg' %}" alt="jus" id="jus"/>
                <h2  id="jus_tag">J-US WordShip<hr/></h2>
                <a id="jus_a_tag">제이어스 워십</a>
                <img src="{% static 'img/markers1.jpg' %}" alt="markers" id="markers"/>
                <h2  id="markers_tag">Markers WordShip<hr/></h2>
                <a id="markers_a_tag">마커스 워십</a>
                <img src="{% static 'img/anointing1.jpg' %}" alt="anointing" id="anointing"/>
                <h2  id="anointing_tag">Anointing WordShip<hr/></h2>
                <a id="anointing_a_tag">어노인팅 워십</a>
            </a>
            <h4 style="margin: 0;">
                This is Django test web site.
            </h4>
        </div>
        <hr style="margin: 5px 0;"/>
        <h2>
            Select Application
        </h2>
        <table id="applist">
            <tr>
                <td>
                    <b>
                        <i>
                            <a href="{% url 'bookmark:index' %}">
                                Bookmark
                            </a>
                        </i>
                    </b>
                </td>
                <td>
                    You can write your own post and share to others.
                    Donce id elit non miporta gravida at eget metus.
                    Fusce dapibus, tellus ac cursus commodo
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Add
                        </a>
                    </i>
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Change
                        </a>
                    </i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <i>
                            <a href="{% url 'blog:index' %}">
                                Blog
                            </a>
                        </i>
                    </b>
                </td>
                <td>
                    You can write your own post and share to others.
                    Donec id elit non miporta gravida at eget metus.
                    Fusce dapibus, tellus ac cursus commodo
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Add
                        </a>
                    </i>
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Change
                        </a>
                    </i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>
                        <i>
                            <a href="#">
                                Photo
                            </a>
                        </i>
                    </b>
                </td>
                <td>
                    You can write your own post and share to others.
                    Donec id elit non miporta gravida at eget metus.
                    Fusce dapibus, tellus ac cursus commodo
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Add
                        </a>
                    </i>
                </td>
                <td class="Edit">
                    <i>
                        <a href="#">
                            Change
                        </a>
                    </i>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}
{% block footer %}
    <div id="footer">
        &copy; Mux 2018
    </div>
{% endblock footer %}